<form action="action_page.php">
  <div class="container">
  

     <hr>
     <div class="container">
    <div style="width: 49%; float:left">
    <label for="firstname"><b>First Name</b></label>
    <input type="text" placeholder="Enter firstname" name="firstname" [(ngModel)]="user.firstname" required>

    <label for="lastname"><b>Last Name</b></label>
    <input type="text" placeholder="Enter lastname" name="lastname" [(ngModel)]="user.lastname" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" [(ngModel)]="user.username" required>
    </div>

    <div style="width: 2%;"> 
    </div>

     <div style="width: 49%; float:right">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="user.email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="user.password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" [(ngModel)]="user.password" required>
    </div>
     
    </div>
   

    <button (click)="goForRegistration()" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</form>
