<div class="col1 col-lg-12 col-md-12">
<div id="tab_collection" style="display: block; width: 100%; margin: 0px;">
<div class="title-home">
<h2>Collections</h2>
</div>
<ul class="resp-tabs-list"><li class="fa fa-star resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">Exclusive</li></ul>
<div class="resp-tabs-container">
<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0">
<span class="resp-arrow"></span>Exclusive</h2>
<div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
<div class="content-tab-collection tab-home-ryans">
<div class="row">
<ul class="list-item-collection">



  <div *ngFor="let hero of empList">
   <li class="col-lg-4 col-md-4 item-cat">
<div class="item-cat-wrapper" style="background-color: #ebebeb; margin-bottom: 20px">
	<div class="image-cat box-image">
	    <img title="HP 15s-du0090TU" alt="HP 15s-du0090TU" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection95.jpg">
	</div>
	<div class="text-cat box-info">
		<h2><a title="HP 15s-du0090TU" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y"><span><span>HP 15s-du0090TU</span></span></a>
		</h2>
		<p class="des-collection-cat"><strong><span style="color: #000000;">8th Gen Intel Core i5 8265U </span></strong><br><span style="color: #99cc00;">ID: 33.020.1079</span></p>
		<div class="price-box-rp">Regular Price Tk 56,200
		</div>
		<div class="price-box-sp">Special Price <span class="price">Tk 52,800</span>
		</div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y">Buy Now</a>
	</div>
</div>
</li>

  </div>


<li class="col-lg-4 col-md-4 item-cat">
<div class="item-cat-wrapper">
	<div class="image-cat box-image">
	    <img title="HP 15s-du0090TU" alt="HP 15s-du0090TU" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection95.jpg">
	</div>
	<div class="text-cat box-info">
		<h2><a title="HP 15s-du0090TU" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y"><span><span>HP 15s-du0090TU</span></span></a>
		</h2>
		<p class="des-collection-cat"><strong><span style="color: #000000;">8th Gen Intel Core i5 8265U </span></strong><br><span style="color: #99cc00;">ID: 33.020.1079</span></p>
		<div class="price-box-rp">Regular Price Tk 56,200
		</div>
		<div class="price-box-sp">Special Price <span class="price">Tk 52,800</span>
		</div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y">Buy Now</a>
	</div>
</div>
</li>

<li class="col-lg-4 col-md-4 item-cat">
<div class="item-cat-wrapper">
	<div class="image-cat box-image">
    	<img title="Hikvision DS-2DE5225IW-AE 2MP" alt="Hikvision DS-2DE5225IW-AE 2MP" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection103.jpg">
	</div>
	<div class="text-cat box-info">
		<h2><a title="Hikvision DS-2DE5225IW-AE 2MP" href="https://ryansgo.com/detail/-hikvision-ds-2de5225iw-ae-20mp-ptz-dome-ip-camera-without-camera-wall-mount-bracket-"><span><span>Hikvision DS-2DE5225IW-AE</span></span></a></h2><p class="des-collection-cat"><span style="color: #000000;"><strong>150m Network, IR PTZ Dome</strong></span><br><span style="color: #99cc00;">ID: 127.03.485.30</span></p><div class="price-box-rp">Regular PriceTk 41,230</div><div class="price-box-sp">Special Price <span class="price">Tk 38,500</span></div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/-hikvision-ds-2de5225iw-ae-20mp-ptz-dome-ip-camera-without-camera-wall-mount-bracket-">Buy Now</a>
	</div>
</div>
</li>

<li class="col-lg-4 col-md-4 item-cat">
<div class="item-cat-wrapper">
	<div class="image-cat box-image">
	    <img title=" HP DeskJet Ink Advantage 3835 All-in-One Printer" alt=" HP DeskJet Ink Advantage 3835 All-in-One Printer" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection97.jpg">
	</div>
	<div class="text-cat box-info">
		<h2><a title=" HP DeskJet Ink Advantage 3835 All-in-One Printer" href="https://ryansgo.com/detail/hp-deskjet-ink-advantage-3835-all-in-one-printer-f5r96b"><span><span>HP DeskJet Ink Advantage 3835</span></span></a></h2><p class="des-collection-cat"><span style="color: #000000;"><strong>Multi Function Ink All-in-One Printer</strong></span><br><span style="color: #99cc00;">ID: 12.02.020.258</span></p><div class="price-box-rp">Regular Price Tk 11,720</div><div class="price-box-sp">Special Price <span class="price">Tk 11,000</span></div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/hp-deskjet-ink-advantage-3835-all-in-one-printer-f5r96b">Buy Now</a>
	</div>
</div>
</li>

<li class="col-lg-4 col-md-4 item-cat">
<div class="item-cat-wrapper">
	<div class="image-cat box-image">
	    <img title="Gaming PC-R718X" alt="Gaming PC-R718X" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection104.jpg">
	</div>
	<div class="text-cat box-info">
		<h2><a title="Gaming PC-R718X" href="https://ryansgo.com/detail/gaming-pc-r718x-ryzen-7-1800x-40ghz-x370-chipset-rx590-8gb-gr-16gb-ddr4-3200mhz-2tb-hdd--256gb-ssd-215in-monitor-gaming-headphone-gaming-kb-and-mou"><span><span>Gaming PC-R718X</span></span></a></h2><p class="des-collection-cat"><span style="color: #000000;"><strong>Ryzen 7 1800X, RX 590 8GB</strong></span><br><span style="color: #99cc00;">ID: 58.04.115.172</span></p><div class="price-box-rp">Regular Price Tk 126,730</div><div class="price-box-sp">Special Price <span class="price"> Tk 117,800</span></div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/gaming-pc-r718x-ryzen-7-1800x-40ghz-x370-chipset-rx590-8gb-gr-16gb-ddr4-3200mhz-2tb-hdd--256gb-ssd-215in-monitor-gaming-headphone-gaming-kb-and-mou">Buy Now</a>
	</div>
</div>
</li>

<li class="col-lg-4 col-md-4 item-cat">
</li>

</ul>
</div>

</div></div></div></div>
</div>
