<div class="col1 col-lg-12 col-md-12">
<div id="tab_collection" style="display: block; width: 100%; margin: 0px;">
<div class="title-home">
<h2></h2>
</div>

<div class="resp-tabs-container">
<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0">
<span class="resp-arrow"></span></h2>
<div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
<div class="content-tab-collection tab-home-ryans">
<div class="row">
<ul class="list-item-collection" style="list-style: none">



  <div *ngFor="let hero of empList">
   <li class="col-lg-4 col-md-4 item-cat" style="list-style: none">
<div class="item-cat-wrapper" style="background-color: #ebebeb; margin-bottom: 20px; padding:10px 0 0 30px; position:relative; z-index:10; text-transform: uppercase">
	<div class="image-cat box-image">
	    <img title="HP 15s-du0090TU" alt="HP 15s-du0090TU" src="https://ryanscomputers.com/media/wysiwyg/collection/Collection95.jpg">
	</div>
	<div class="text-cat box-info">
		<a title="HP 15s-du0090TU" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y"><span><span>HP 15s-du0090TU</span></span></a>
		
		<p class="des-collection-cat"><strong><span style="color: #000000;">8th Gen Intel Core i5 8265U </span></strong><br><span style="color: #99cc00;">ID: 33.020.1079</span></p>
		<div class="price-box-rp">Regular Price Tk 56,200
		</div>
		<div class="price-box-sp">Special Price <span class="price">Tk 52,800</span>
		</div>
		<a class="button" title="Shop Now" href="https://ryansgo.com/detail/hp-15s-du0090tu-8th-gen-intel-core-i5-8265u-160ghz-390ghz-4gb-ddr4-1tb-hdd-156-inch-fhd-1920x1080-display-win-10-gold-notebook-7nh12pa-2y">Buy Now</a>
	</div>
</div>
</li>

  </div>










<li class="col-lg-4 col-md-4 item-cat">
</li>

</ul>
</div>

</div></div></div></div>
</div>
